<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <setting id="useHlsLive" label="30116" type="bool" default="true" />
    <setting id="videoQuality" type="enum"  label="30121" lvalues="30117|30118" default="1" visible="eq(-1,false)" />
    <setting id="videoQualityHLS" type="enum"  label="30121" lvalues="30117|30118|30119|3012ß" default="2" visible="eq(-2,true)" />
</settings>